$dark_gray: #232220;
$light_gray: #d2d3cd;
$teal: #79aba2;
$red: #f94a6f;
$bg_color: #f5f6ef;
$darker_bg: #f3f4eb;

$block-spacing:30px;

$font: freight-sans-pro;
$text-color: lighten($dark_gray, 25%);